body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font: 100% / normal sans-serif;
  }

  .container {
    display: flex;
    
}

img{
    max-width: 50%;
}

.sender {
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    float:left;
    width: 50%;
    text-align: left;
    border-right: 2px solid black;
   
}

.recipient {
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    border-left: 2px solid black;
    float:left;
    width: 50%;
    text-align: left;
}

.payment{
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

.fname {
    float:left;
    width: 50%;
}

.lname {
    float:left;
    width: 50%;
}

.email {
    float:left;
    width: 50%;
}

.phone {
    float:left;
    width: 50%;
}

.cardtype {
    padding: 10px;
    display:inline-block
    
}

.ccnum {
    padding: 10px;
    display:inline-block
    
}

.month {
    padding: 10px;
    display:inline-block
}
.year {
    padding: 10px;
    display:inline-block
}

.ccv {
    padding: 10px;
    display: inline-block;
}

form {
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 25%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
  
.btn:hover {
    background-color: #45a049;
}

input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color:lightgrey;
}